[deviceDetect]
vid=1111
pid=2222
auditor=mini.py

[resourceRequest]
addr=bewest.io
port=80
page=audit.php
userid=3
key=1419761442

[serialToNet]
audit=medevice://new@bewest.io:9001/insulaudit
addr=bewest.io
port=9001

[registration]
addr=bewest.io
dataurl=https://transactionalweb.com/cloud/auditdata.htm?key=1419761442&u=3
weburl=https://transactionalweb.com/cloud/auditdata.htm?key=1419761442&u=3
postpubkeyhere=https://transactionalweb.com/cloud/postpubkey.html?s=1419761442&u=3
pubkey=ssh-rsa thisissomekeygarbageblargblahfoobarbaz user@host
pollinginterval=300
phr=git@github.com:bewest/diabetes-phr.git
firstname=Nathan
lastname=West
