[Unit]
Description=Monitor Mode Setup for insulware

[Service]
Type=oneshot
ExecStart=/usr/bin/cpufreq-set --governor powersave

[Install]
WantedBy=multi-user.target
