[Unit]
Description=insulware: On boot, poll for any incoming SMS

[Service]
# Type=oneshot
ExecStart=/home/new/boot_insulaudit
Restart=on-abort


[Install]
WantedBy=multi-user.target
