[Unit]
Description=On boot, poll for any incoming SMS

[Service]
Type=oneshot
ExecStart=/home/new/scrape_sms.py

[Install]
WantedBy=multi-user.target
